<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>no data</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="../static/message.css" rel="stylesheet" type="text/css" />
    <link href="../static/profile.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="message">
            Oops, we don't have puzzles for you.... <br>
            Wait a few seconds and try to analyse more games
        </div>
        <form method="post">
            <input type="submit" value="Go to analysis"/>
        </form>
    </div>
</body>
</html>


