.colors{
    color: #272522;
    color: #312e2b;
    color: #7d7c7b;
    color: #b4b3b2;
    color: #d97b2c;
    color: #e19557;
    color: #fad155;
    color: #39719c;
    color: #5c8bb0;
    color: #0097c7;
    color: #7ea650;
    color: #ebe8cd;
    color: #e43131;
}